.DS_Store
.vscode
### PLUGINS ###
plugins
plugins/confluent*

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

fink-sql/flink-sql-runner-example/target
flink-sql/flink-sql-runner-example/.idea
flink-sql/flink-sql-runner-example/target
flink-sql/flink-sql-runner-example/flink-app1/

certs/alertmanager-client/
certs/alertmanager/
certs/ca/index
certs/ca/index.attr
certs/ca/serial
certs/cacert.pem
certs/cakey.pem
certs/cmf.key
certs/cmf/
certs/cmfrestclass/
certs/connect/
certs/connector/
certs/controlcenter-ng/
certs/flink-app1/
certs/global.truststore.jks
certs/kafka/
certs/kraftcontroller/
certs/krp/
certs/prometheus-client/
certs/prometheus/
certs/schemaregistry/
certs/ca/index.attr.old
certs/ca/index.old
certs/ca/serial.old
certs/elasticsearch-es-http/

data/schemas/
