.DS_Store
.vscode
### PLUGINS ###
plugins
plugins/confluent*

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/*
*.iws
*.iml
*.ipr

fink-sql/flink-sql-runner-example/target
flink-sql/flink-sql-runner-example/.idea
flink-sql/flink-sql-runner-example/target
