apiVersion: platform.confluent.io/v1beta1
kind: FlinkApplication
metadata:
  name: flink-app1
  namespace: confluent
spec:
  flinkEnvironment: flink-env1
  image: flink-sql-runner-example
  flinkVersion: v2_1
  flinkConfiguration:
    "taskmanager.numberOfTaskSlots": "2"
    "taskmanager.memory.process.size": "2048m"
    "jobmanager.memory.process.size": "1024m"
    "taskmanager.memory.managed.fraction": "0.4"
    "metrics.reporter.prom.factory.class": "org.apache.flink.metrics.prometheus.PrometheusReporterFactory"
    "metrics.reporter.prom.port": "9249-9250"
    "rest.profiling.enabled": "true"
    "pekko.ask.timeout": 600s
    "pekko.tcp.timeout": 600s
    "heartbeat.timeout": "500000"
  serviceAccount: flink
  jobManager:
    resource:
      memory: 1024m
      cpu: 500m
  taskManager:
    resource:
      memory: 1024m
      cpu: 1000m
    replicas: 2
  job:
    jarURI: local:///opt/flink/usrlib/sql-runner.jar
    args:
      - "/opt/flink/usrlib/sql-scripts/kafka.sql"
    state: running
    parallelism: 2
    upgradeMode: stateless
  cmfRestClassRef:
    name: cmfrestclass
    namespace: confluent
  podTemplate:
    spec:
      volumes:
        - name: flink-app1-tls
          secret:
            secretName: flink-app1-tls
      containers:
        - name: flink-main-container
          volumeMounts:
            - name: flink-app1-tls
              mountPath: /mnt/secrets/flink-app1-tls
              readOnly: true
